<h3>Revisited Problems</h3>

---

* [Dynamic Programming] Longest increasing subsequence
* [Dynamic Programming] Climbing stairs
* [String] Reverse Integer
* [SQL] Last Person to Fit on Bus
* [SQL] Weather Differences

---

<h3>Longest Increasing Subsequence</h3>

https://leetcode.com/problems/longest-increasing-subsequence/description/

Given an integer array nums, return the length of the longest strictly increasing subsequence.

Example 1:

Input: nums = [10,9,2,5,3,7,101,18]
Output: 4
Explanation: The longest increasing subsequence is [2,3,7,101], therefore the length is 4.

Example 2:

Input: nums = [0,1,0,3,2,3]
Output: 4

Example 3:

Input: nums = [7,7,7,7,7,7,7]
Output: 1

In [1]:
def lis(arr):
    pass

In [2]:
print("Output:", lis([10,9,2,5,3,7,101,18]), "Expected output: 4")

Output: None Expected output: 4

<h3>Climbing Stairs</h3>

https://leetcode.com/problems/climbing-stairs/description/

You are climbing a staircase. It takes n steps to reach the top.

Each time you can either climb 1 or 2 steps. In how many distinct ways can you climb to the top?

Example 1:

Input: n = 2
Output: 2
Explanation: There are two ways to climb to the top.
1. 1 step + 1 step
2. 2 steps

Example 2:

Input: n = 3
Output: 3
Explanation: There are three ways to climb to the top.
1. 1 step + 1 step + 1 step
2. 1 step + 2 steps
3. 2 steps + 1 step

* Note that this ends up just being the fibonacci sequence: A[i] = A[i-2] + A[i-1]

In [3]:
def climb_stairs(n: int) -> int:
    """Return distinct ways to climb to n either taking 1 step or two steps."""
    if n <= 2:
        return n
        
    res = [0] * (n + 1)
    res[1], res[2] = 1, 2

    for i in range(3, n + 1):
        res[i] = res[i-2] + res[i-1]

    return res[n]

In [4]:
print("Output:", climb_stairs(5), "Expected output: 8")
print("Output:", climb_stairs(1), "Expected output: 1")

Output: 8 Expected output: 8
Output: 1 Expected output: 1

In [5]:
def climb_stairs_other(n: int) -> int:
    # slight difference—assume that position 0 has 1 way to reach it (e.g., do nothing).
    steps = [1, 1]
    for i in range(2, n+1):
        steps.append(steps[i-1] + steps[i-2])

    return steps[n]

In [6]:
print("Output:", climb_stairs_other(5), "Expected output: 8")
print("Output:", climb_stairs_other(1), "Expected output: 1")

Output: 8 Expected output: 8
Output: 1 Expected output: 1

In [7]:
def climb_stairs_simplified(n: int) -> int:
    # Use O(1) space tabulation with just 2 vars
    if n <= 2:
        return n

    a, b = 1, 2
    for i in range(3, n+1):
        a, b = b, a + b
        
    return b

In [8]:
print("Output:", climb_stairs_simplified(20), "Expected output: 10946")
print("Output:", climb_stairs_simplified(5), "Expected output: 8")

Output: 10946 Expected output: 10946
Output: 8 Expected output: 8

<h3>Reverse Integer</h3>

https://leetcode.com/problems/reverse-integer/description/

Example 1:

Input: x = 123
Output: 321

Example 2:

Input: x = -123
Output: -321

Example 3:

Input: x = 120
Output: 21

In [9]:
def reverse_integer(n: int) -> int:
    sign = -1 if n < 0 else 1

    # Get rid of negative sign if it exists
    n *= sign

    rev = int(str(n)[::-1])

    # Put back negative sign if necessary
    rev *= sign
    
    if rev > 2**31 - 1 or rev < -2**31:
        return 0

    return rev

In [10]:
print("Output:", reverse_integer(123), "Expected output: 321")
print("Output:", reverse_integer(-321), "Expected output: -123")
print("Output:", reverse_integer(120), "Expected output: 21")
print("Output:", reverse_integer(2_147_483_648), "Expected output: 0")

Output: 321 Expected output: 321
Output: -123 Expected output: -123
Output: 21 Expected output: 21
Output: 0 Expected output: 0

<h3>SQL—Last Person to Fit on Bus</h3>

https://leetcode.com/problems/last-person-to-fit-in-the-bus/description/
```
Table: Queue

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| person_id   | int     |
| person_name | varchar |
| weight      | int     |
| turn        | int     |
+-------------+---------+
person_id column contains unique values.
This table has the information about all people waiting for a bus.
The person_id and turn columns will contain all numbers from 1 to n, where n is the number of rows in the table.
turn determines the order of which the people will board the bus, where turn=1 denotes the first person to board and turn=n denotes the last person to board.
weight is the weight of the person in kilograms.

There is a queue of people waiting to board a bus. However, the bus has a weight limit of 1000 kilograms, so there may be some people who cannot board.

Write a solution to find the person_name of the last person that can fit on the bus without exceeding the weight limit. The test cases are generated such that the first person does not exceed the weight limit.

Note that only one person can board the bus at any given turn.

The result format is in the following example.

Example 1:

Input: 
Queue table:
+-----------+-------------+--------+------+
| person_id | person_name | weight | turn |
+-----------+-------------+--------+------+
| 5         | Alice       | 250    | 1    |
| 4         | Bob         | 175    | 5    |
| 3         | Alex        | 350    | 2    |
| 6         | John Cena   | 400    | 3    |
| 1         | Winston     | 500    | 6    |
| 2         | Marie       | 200    | 4    |
+-----------+-------------+--------+------+
Output: 
+-------------+
| person_name |
+-------------+
| John Cena   |
+-------------+
Explanation: The folowing table is ordered by the turn for simplicity.
+------+----+-----------+--------+--------------+
| Turn | ID | Name      | Weight | Total Weight |
+------+----+-----------+--------+--------------+
| 1    | 5  | Alice     | 250    | 250          |
| 2    | 3  | Alex      | 350    | 600          |
| 3    | 6  | John Cena | 400    | 1000         | (last person to board)
| 4    | 2  | Marie     | 200    | 1200         | (cannot board)
| 5    | 4  | Bob       | 175    | ___          |
| 6    | 1  | Winston   | 500    | ___          |
+------+----+-----------+--------+--------------+
```

```sql
SELECT person_name
FROM (
    SELECT 
    person_name
    ,SUM(Weight) OVER(ORDER BY Turn) as cumulative_weight
    FROM Queue
    ORDER BY cumulative_weight DESC
    )
WHERE cumulative_weight <= 1000
LIMIT 1;
```

<h3>SQL—Rising Temperatures</h3>

https://leetcode.com/problems/rising-temperature/description/

```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
There are no different rows with the same recordDate.
This table contains information about the temperature on a certain day.

 

Write a solution to find all dates' id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).
```

```sql
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON w1.recordDate = DATE_ADD(w2.recordDate, INTERVAL 1 DAY)
WHERE w2.temperature < w1.temperature;

-- w2 date represents yeterday's temp (not "previous record date", but actually guaranteed to be yesterday).
-- If yesterday's value is not present, w2 records will be NULL

```